<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <connectionStrings>
    <add name="Clover_Connection" connectionString="Data Source=mxni-app-02\Innova;Initial Catalog=CloverLabels;Persist Security Info=True;User ID=SA;Password=innova2011" providerName="System.Data.SqlClient" />
    <add name="Clover_ConnectionDebug" connectionString="Data Source=MEXI0848\SQLEXPRESS;Initial Catalog=CloverLabels;Persist Security Info=True;User ID=sa;Password=clover" providerName="System.Data.SqlClient" />
    <add name="Innova_Connection" connectionString="Data Source=mxni-app-02\Innova;Initial Catalog=DPC2011;Persist Security Info=True;User ID=SA;Password=innova2011" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
